/** @format */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1c1c; /* Grigio ardesia per il background in dark mode */
  --foreground: #f2f4f7; /* Testo chiaro in dark mode */
  --primary-accent: #fcca46; /* Giallo ocra per il focus e interazioni */
  --secondary-accent: #fe7f2d; /* Arancio per bottoni e link principali in dark mode */
  --dark-shades: #1f2a32; /* Grigio ardesia per il fondo scuro */
  --text-light: #f2f4f7; /* Testo chiaro su fondo scuro */
  --font-sans: "Montserrat", sans-serif;
  --paragraph: #adadad;
}

.logo {
  font-size: x-large;
  font-weight: 700;
}

.logo:hover {
  color: var(--secondary-accent);
  text-decoration: none;
}
/* Forzare la modalità dark, senza supporto per la modalità chiara */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

body p{
  color: var(--paragraph);
}

h1,
h2 {
  font-family: var(--font-sans);
  font-weight: 800; /* Font bold per i titoli */
}

h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 3rem; /* Grandezza di default per h1 */
}

h2 {
  font-size: 2.25rem; /* Grandezza di default per h2 */
}

h3 {
  font-size: 1.85rem; /* Grandezza di default per h3 */
}

h4 {
  font-size: 1.5rem; /* Grandezza di default per h4 */
}

a {
  color: var(--text-light);
  text-decoration: none;
}

a:hover {
  color: var(--primary-accent);
  text-underline-position: auto;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

/* card */

.design-img{
  background-color: #1c1c1c; /* Sfondo principale */
  border: 8px solid black; /* Bordo nero */
  box-shadow: 15px 15px 0 #000; /* Ombra del bordo */

}

.design-card {
  position: relative;
  padding: 1.5rem;
  background-color: #1c1c1c; /* Sfondo principale */
  color: #f2f4f7; /* Colore testo */
  overflow: hidden;
  border: 8px solid black; /* Bordo nero */
  box-shadow: 15px 15px 0 #000; /* Ombra del bordo */
  transition: all 0.3s ease-in-out;
}

/* transform: rotate(0) scale(1.05); Hover: reset rotazione e zoom */
.design-card:hover {
  box-shadow: 20px 20px 0 #000; /* Hover: ombra più marcata */
}

.design-card .badge {
  position: absolute;
  top: 0.75rem;
  right: -95px;
  width: 350px;
  text-align: center;
  transform: rotate(45deg);
  background-color: black; /* Sfondo badge */
  color: #f2f4f7; /* Testo badge */
  padding: 0.75rem 0;
  font-weight: bold;
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  transition: all 0.3s ease-in-out;
}

.design-card .badge:hover {
  background-color: #fcca46; /* Hover: sfondo giallo */
}

.design-card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  border-bottom: 2px solid #fcca46; /* Bordo giallo */
  display: inline-block;
}

.design-card p {
  font-size: 1.125rem;
  line-height: 1.75;
  margin-bottom: 1.25rem;
  color: var(--paragraph); /* Colore paragrafo */
}

form {
  color: var(--background);
  font-size: medium;
  font-weight: bold;
}

input,
textarea {
  /* Bordo nero */
  box-shadow: 15px 15px 0 #000; /* Ombra del bordo */
}

input,
textarea:focus-within {
  border: none;
}



/* testo */
.text-highlight {
  font-weight: 800;
  color: var(--text-light);
}


.text-underline {
  position: relative;
  color: var(--text-light);
  font-weight: 500;
  padding-bottom: 0.2rem;
}

.text-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--secondary-accent);
  transition: width 0.3s ease-in-out;
}

.text-underline:hover::after {
  width: 100%;
}

.text-gradient {
  background: linear-gradient(90deg, var(--primary-accent), var(--secondary-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}


.text-box {
  background-color: var(--secondary-accent);
  color: var(--text-light);
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-family: var(--font-sans);
  font-weight: 600;
  text-align: center;
}


.text-shadow {
  color: var(--foreground);
  text-shadow: 2px 2px 5px var(--dark-shades);
  font-weight: 600;
}

#about-container p{
  color: #adadad
}

.sottolineatura{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--paragraph);
  text-underline-offset: 5px;
}

blockquote {
  font-style: italic;
  margin: 20px 0;
  padding-left: 15px;
  border-left: 3px solid var(--primary-accent);
  color: #555;
}

